
@font-face {
  font-family: "Atlas Grotesk Web Light Regular";
  src: url("https://db.onlinewebfonts.com/t/43372a4ce8dc3abbca31595815be7cf3.eot");
  src: url("https://db.onlinewebfonts.com/t/43372a4ce8dc3abbca31595815be7cf3.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/43372a4ce8dc3abbca31595815be7cf3.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/43372a4ce8dc3abbca31595815be7cf3.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/43372a4ce8dc3abbca31595815be7cf3.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/43372a4ce8dc3abbca31595815be7cf3.svg#Atlas Grotesk Web Light Regular")format("svg");
}

body{
  font-family: "Atlas Grotesk Web Light Regular";
    margin:0;
    background-color: #1E1919;
    text-decoration:none solid rgb(30, 25, 25)
    
    }
header{
    background-color:white;
    width:100%;
    height:48px;
    display:inline-flex;
    position: fixed;
    top: 0;
    z-index: 100; 
}


@font-face {
    font-family: SharpGrotesk;
    src: url("SharpGrotesk-Book25.otf") format("opentype");
}

.logo{
    background-color: #0061FE;
    padding: 10.5px 7px;
}
.nome{
    position: relative;
    top:13px;
    left:12px;
    box-sizing: border-box;
    height:22px;
    text-align: center;
    margin-right:23px;
}

ul {
box-sizing: border-box;
list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
 
  }

  li {
  
    float: left;
    font-weight:600;
    font-size:15px;
  }
  
  li a {
    display: block;
    color: #1E1919;
    text-align: center;
    padding: 15px 14px;
    text-decoration: none;
    
  }
  
  li a:hover {
    background-color: #F2EEE8;
  }
  h1{
    margin-top:7%;
    margin-left:24%;
    color:#F7F5F2;
    font-family: SharpGrotesk;
    width:55%;
    font-size:35px;
 text-align: center;

 font-weight:400;
  }
  .hhh{
    margin-top:7%;
    margin-left:24%;
    color:#F7F5F2;
    font-family: SharpGrotesk;
    width:55%;
    font-size:32px;
 text-align: center;

 font-weight:400;
  }
  p{
    line-height: 120%;
    margin-left:28%;
    color:#F7F5F2;
   text-align: center;
    width:48%;
    font-size:18px;
    font-weight:400;
    vertical-align:baseline;
    
  }

 .button{
  position:relative;
  top:26px;
  background-color:#3984FF;
  padding: 25px 25px; 
  font-weight: 600;
  text-align: center;
  margin-left:43%;
 cursor: pointer;
 } 
.button:hover{
  background-color: #4D90FF;
}

.button1{
  position:relative;
 top:5px;
  background-color:rgb(0, 97, 254);
  padding: 10px; 
  font-weight: 600;
  text-align: center;
  color:white;
 cursor: pointer;
} 
.button1:hover{
  background-color: #0057E5;
}

video{
  margin-top:5%;
  width:100%;
  object-fit: cover;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.grid-container {
  margin-top:-72px;
  margin-left:2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: left;
  align-items: center;
  padding: 120px;
  grid-gap: 0.1em;
  box-sizing: content-box;
}
.grid-item {
  line-height:19.2px;
 height: 144px;

  padding: 20px;
  font-size:16px;
  color:#F7F5F2;
  text-align: left;
  
}
.bold{
  font-weight:bold;
  font-size: 16px;
}
.pgrid{
  text-align: left;
  margin-left:0;
  line-height: 19.2px;
  margin-top:0;
  width:237px;
  font-size: 16px;
}
@media (max-width: 700px)  {
 
     header ul li:nth-child(1),
     header ul li:nth-child(2),
     header ul li:nth-child(3),
     header ul li:nth-child(4) { display: none;}
   
  
}